.statboard {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.start-button {
	background-color: #C0C0C0;
	width: 40px;
	height: 40px;
	border-width:3px;
    border-style:solid;
    border-color:#fff #808080 #808080 #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button__icon {
	width: 90%;
	height: 90%;
}