.lcd {
	background-color: #000;
    /* box-sizing: border-box; */
    /* width: 120px; */
    height: 2em;
    border-width: 1px;
    border-style: solid;
    border-color: #808080 #fff #fff #808080;
    padding: 2px;
    font-size: 20px;
}

.digit {	
	background-size: contain;    
    background-repeat: no-repeat;
    width: 1.19em;
    height: 2em;
    display: inline-block;
}

.digit:not(:last-child) {
	margin-right: 2px;
}